.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .leftMenu,
  .rightMenu {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 2rem;
  }
  
  .navMenu {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #0077ff;
  }
  
  .loginButton,
  .signupButton {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #333;
    color: #fff;
  }
  
  .signupButton {
    margin-left: 1rem;
    background-color: #0077ff;
    border: 1px solid #0077ff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .signupButton:hover {
    background-color: #0052cc;
    border: 1px solid #0052cc;
    color: #fff;
  }
  
  .Toastify__toast {
    font-size: 16px;
    border-radius: 50px;
    padding: 16px 28px;
    color: #fff;
  }