.container {
  position: absolute;
  top: 50%;
  left: 72%; /* 가로 위치 변경 */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 로그인 버튼 오른쪽에 붙이기 */
  gap: 1rem;
}

.loginContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 420px;
}

h1 {
  font-size: 32px;
  margin-bottom: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;
  padding: 15px 0;
  margin-bottom: 20px;
  font-size: 18px;
}

.input:hover {
  border-bottom: 1px solid #808080;
}

.input:focus {
  border-bottom-color: #0066ff;
}

.loginButton {
  margin-top: 50px;
  background-color: #0066ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.arrowCircle {
  padding: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.navLinkButton {
  width: px;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.Toastify__toast {
  width: 600px;
  font-size: 16px;
  border-radius: 50px;
  padding: 16px 28px;
  color: #fff;
}
